body {
  background: #171717;
}

a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

a:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

.selected {
  box-shadow: 0 0 10px #0ac00a, 0 0 20px #0ac00a, 0 0 40px #0ac00a;
  color: white;
}

.unselected {
  color: #ff4c4c;
  border: 1px solid #343a40;
}

.heading {
  color: white;
}

.sort {
  float: right;
  border: 1px solid #2196f3;
  color: #2196f3;
  transition: 0.3s;
}

.sort:hover {
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  color: white;
}

.btn {
  margin: 10px;
}

.new {
  background-color: #373d43;
  color: #ffffff;
  border: 1px solid #8bcdd2;
  transition: 0.3s;
}

.new:hover {
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  color: white;
}

h2 {
  margin: 5px auto;
  text-align: center;
  color: #05c7d4;
  text-transform: capitalize;
}

#bar {
  margin: 2px auto;
  width: 60%;
}

.color {
  color: white;
  border-left: 1px solid white;
  padding-left: 10px;
}

.special {
  background: rgba(33, 150, 243, 0.7);
  display: inline-block;
  margin: 0 1px;
  border: 1px solid black;
}
